include "application"

com.socrata {
  geoexport {
    threadpool {
      min-threads = {{ MIN_THREADS }}
      max-threads = {{ MAX_THREADS }}
    }
    chunk-size = {{ CHUNK_SIZE }}
  }
  common-zk-ensemble = {{ ZOOKEEPER_ENSEMBLE }}

  curator {
    ensemble = {{ ZOOKEEPER_ENSEMBLE }}
    address = "{{ HOST }}"
  }
  network {
    port = 7777
  }
}
